@media (min-width: 1200px) {

    /* Pull out the header and footer */
    .footer {
      position: fixed;
      bottom: 0;
    }
  }

.loading-spinner {
  height: 50vh;
  top:90%;
}

.spinner-grow {
  width: 8rem;
  height: 8rem;
  color: #162B54;
}

.custom-width {
  max-width: 600px;
}

.book-form {
  background-color: #162B54;
}

.form-label {
  color: white;
}

.submit-btn {
  background-color: #D41926;
  color: white;
  font-weight: bold;
}

.navbar {
  background-color: #162B54;
}

.booklist-btn {
  color: #162B54;
  font-weight: bold;
  text-decoration: none;
}

.footer p {
  color: #162B54;
  font-weight: bold;
}